<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>拼了嘛后台管理系统</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css" />
    <link rel="stylesheet" href="__CSS__/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="__CSS__/chosen.css" />
    <link rel="stylesheet" href="__CSS__/datepicker.css" />
    <link rel="stylesheet" href="__CSS__/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__CSS__/daterangepicker.css" />
    <link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="__CSS__/enjoytouch.css" />
    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="__CSS__/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="__CSS__/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__CSS__/ace-part2.min.css" />

    <![endif]-->
    <link rel="stylesheet" href="__CSS__/ace-skins.min.css" />
    <link rel="stylesheet" href="__CSS__/ace-rtl.min.css" />
    <link rel="stylesheet" href="__CSS__/font-awesome-ie7.min" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__CSS__/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__JS__/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->


</head>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    拼了嘛后台管理系统
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->

            <!-- #section:basics/navbar.toggle -->

            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">


                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="__IMG__/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎光临,</small>
                                    <?=$account['manager_name']?>
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{:ADMIN_U('/manager/changepwd')}">
                                <i class="icon-cog"></i>
                                修改密码
                            </a>
                        </li>



                        <li class="divider"></li>

                        <li>
                            <a href="{:ADMIN_U('/login/logout')}">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive">
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        </script>


        <ul class="nav nav-list">
            <li class="active">
                <a href="{:ADMIN_U('/index')}">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 控制台 </span>
                </a>
            </li>




            <li class="<?=$navname=="user/index"?"active":""?>">
            <a href="{:ADMIN_U('user')}">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 用户管理 </span>
            </a>
            <?=$navname=="user/index"?"<b class='arrow'></b>":""?>
            </li>

            <li class="<?=$navname=="user/index"?"active":""?>">
            <a href="{:ADMIN_U('hotel')}">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> 酒店管理 </span>
            </a>
            <?=$navname=="user/index"?"<b class='arrow'></b>":""?>
            </li>

            <li class="<?=$navname=="user/index"?"active":""?>">
            <a href="{:ADMIN_U('product')}">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> 产品管理 </span>
            </a>
            <?=$navname=="user/index"?"<b class='arrow'></b>":""?>
            </li>

            <li class="<?=$navname=="user/index"?"active":""?>">
            <a href="{:ADMIN_U('order')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> 订单管理 </span>
            </a>
            <?=$navname=="user/index"?"<b class='arrow'></b>":""?>
            </li>

        </ul><!-- /.nav-list -->

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        </script>
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{:ADMIN_U('manager/index')}">首页</a>
                </li>
                <li class="active">控制台</li>
            </ul><!-- /.breadcrumb -->



            <!-- /section:basics/content.searchbox -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-150"></i>
                </div>

                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <!-- #section:settings.skins -->
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>

                        <!-- /section:settings.skins -->

                        <!-- #section:settings.navbar -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                        </div>

                        <!-- /section:settings.navbar -->

                        <!-- #section:settings.sidebar -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>

                        <!-- /section:settings.sidebar -->

                        <!-- #section:settings.breadcrumbs -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                        </div>

                        <!-- /section:settings.breadcrumbs -->

                        <!-- #section:settings.rtl -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                        </div>

                        <!-- /section:settings.rtl -->

                        <!-- #section:settings.container -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                            <label class="lbl" for="ace-settings-add-container">
                                Inside
                                <b>.container</b>
                            </label>
                        </div>

                        <!-- /section:settings.container -->
                    </div><!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <!-- #section:basics/sidebar.options -->
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                            <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                            <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                            <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                        </div>

                        <!-- /section:basics/sidebar.options -->
                    </div><!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div><!-- /.ace-settings-container -->

            <!-- /section:settings.box -->
            <div class="page-content-area">
                <!-- basic scripts -->

                <!--[if !IE]> -->
                <script type="text/javascript">
                    window.jQuery || document.write("<script src='__JS__/jquery.min.js'>"+"<"+"/script>");
                </script>

                <!-- <![endif]-->

                <!--[if IE]>
                <script type="text/javascript">
                    window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
                </script>
                <![endif]-->
                <script type="text/javascript">
                    if('ontouchstart' in document.documentElement) document.write("<script src='__JS__/jquery.mobile.custom.min.js'>"+"<"+"/script>");
                </script>
                <script src="__JS__/bootstrap.min.js"></script>

                <!-- page specific plugin scripts -->

                <!--[if lte IE 8]>
                <script src="__JS__/excanvas.min.js"></script>
                <![endif]-->
                <script src="__JS__/jquery-ui.custom.min.js"></script>
                <script src="__JS__/jquery.ui.touch-punch.min.js"></script>
                <script src="__JS__/bootbox.min.js"></script>
                <script src="__JS__/jquery.easypiechart.min.js"></script>
                <script src="__JS__/jquery.sparkline.min.js"></script>
                <script src="__JS__/flot/jquery.flot.min.js"></script>
                <script src="__JS__/flot/jquery.flot.pie.min.js"></script>
                <script src="__JS__/flot/jquery.flot.resize.min.js"></script>
                <script src="__JS__/jquery.dataTables.min.js"></script>
                <script src="__JS__/jquery.dataTables.bootstrap.js"></script>
                <script src="__JS__/jquery.gritter.min.js"></script>
                <script src="__JS__/fuelux/fuelux.spinner.min.js"></script>
                <script src="__JS__/x-editable/bootstrap-editable.min.js"></script>
                <script src="__JS__/x-editable/ace-editable.min.js"></script>
                <script src="__JS__/jquery.json.min.js"></script>
                <script src="__JS__/chosen.jquery.min.js"></script>



                <script src="__JS__/date-time/moment.min.js"></script>
                <script src="__JS__/date-time/bootstrap-datetimepicker.min.js"></script>
                <!-- ace scripts -->
                <script src="__JS__/ace-elements.min.js"></script>
                <script src="__JS__/bootstrap-tag.min.js"></script>
                <script src="__JS__/jquery.autosize.min.js"></script>
                <script src="__JS__/jquery.inputlimiter.1.3.1.min.js"></script>
                <script src="__JS__/ace.min.js"></script>

                <!-- the following scripts are used in demo only for onpage help and you don't need them -->
                <link rel="stylesheet" href="__CSS__/ace.onpage-help.css" />


                <script type="text/javascript"> ace.vars['base'] = '..'; </script>
                <script src="__JS__/ace/elements.onpage-help.js"></script>
                <script src="__JS__/ace/ace.onpage-help.js"></script>

                <script src="__JS__/validator-0.7.0/jquery.validator.js"></script>
                <script type="text/javascript" src="__JS__/validator-0.7.0/local/zh_CN.js"></script>
                <script type="text/javascript" src="__JS__/datasource.js?v=20131021"></script>
                <link href="__JS__/jquery.validator.css" rel="stylesheet">

                <!--ueditor plugins-->
                <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
                <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"> </script>

                <!--ajaxfileupload plugins-->
                <script type="text/javascript" src="__JS__/jquery.ajaxfileupload.js"></script>

                {__CONTENT__}
                
            </div>
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">触悦科技</span>
                            &copy; 2013-2014
						</span>

                &nbsp; &nbsp;

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


</body>
</html>
