<div class="main order-info-main">
    <div class="top">
        <a class="nav" href="/booking.html">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>入住日期</p>
        <a href="/booking.html" class="close explain-close">
            <img src="__IMG__/navi/navi-close.png"/>
        </a>

    </div>
    <div class="caleder">
        <p>2016<br>9月</p>
        <ul class="day">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
            <li>日</li>
        </ul>
        <ul class="date">
            <li class="choose1">1</li>
            <li class="choose2">2</li>
            <li class="choose3">3</li>
            <li class="choose4">4</li>
            <li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li>
            <li>17</li><li>18</li><li>19</li><li>20</li><li>21</li>
        </ul>
    </div>
    <div class="caleder">
        <p>2016<br>9月</p>
        <ul class="day">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
            <li>日</li>
        </ul>
        <ul class="date">
            <li>1</li><li>2</li><li>3</li><li>4</li>
            <li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li>
            <li>17</li><li>18</li><li>19</li><li>20</li><li>21</li>
        </ul>
    </div>
</div>
<div class="btn-qr">
    确定
</div>
