<div class="main">
    <div class="top">
        <a class="nav"><img src="__IMG__/navi/navi-home.png"/></a>
        <p>上海</p>
    </div>
    <a href="/detail.html">
    <div class="product">

        <div class="product-pic">
            <img src="__IMG__/detail/img.png"/>
            <div class="time-bg">
                <div class="time">
                    <p>还有</p><span class="day">6</span><p>天</p><span class="hour">1</span><p>时</p><span class="minute">0</span><p>分</p><span class="second">5</span><p>秒结束</p>
                </div>
            </div>
        </div>
        <div class="product-info">
            <div class="title">上海梵璞主题文化酒店</div>
            <div class="discribe">上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店</div>
        </div>
        <div class="product-cz">
            <div class="price">
                <p class="">拼团价￥</p><span class="now-price">655</span><span class="pro-price">/份</span><span class="pro-price line">￥998 </span>
            </div>
            <a href="detail.html" class="go-tuan">去拼团</a>
            <p class="tuan">已成团4/5</p>
        </div>

    </div>
    </a>
    <div class="product">
        <div class="product-pic">
            <img src="__IMG__/detail/img.png"/>
            <div class="time-bg">
                <div class="time">
                    <p>还有</p><span>6</span><p>天</p><span>23</span><p>时</p><span>59</span><p>分</p><span>59</span><p>秒结束</p>
                </div>
            </div>
        </div>
        <div class="product-info">
            <div class="title">上海梵璞主题文化酒店</div>
            <div class="discribe">上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店</div>
        </div>
        <div class="product-cz">
            <div class="price">
                <p class="">拼团价￥</p><span class="now-price">655</span><span class="pro-price">/份</span><span class="pro-price line">￥998 </span>
            </div>
            <a href="detail.html" class="go-tuan">去拼团</a>
            <p class="tuan">已成团4/5</p>
        </div>
    </div>
    <div class="product">
        <div class="product-pic">
            <img src="__IMG__/detail/img.png"/>
            <div class="time-bg">
                <div class="time">
                    <p>还有</p><span>6</span><p>天</p><span>23</span><p>时</p><span>59</span><p>分</p><span>59</span><p>秒结束</p>
                </div>
            </div>
        </div>
        <div class="product-info">
            <div class="title">上海梵璞主题文化酒店</div>
            <div class="discribe">上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店上海梵璞主题文化酒店</div>
        </div>
        <div class="product-cz">
            <div class="price">
                <p class="">拼团价￥</p><span class="now-price">655</span><span class="pro-price">/份</span><span class="pro-price line">￥998 </span>
            </div>
            <a href="detail.html" class="go-tuan">去拼团</a>
            <p class="tuan">已成团4/5</p>
        </div>
    </div>
</div>
<script type="text/javascript">
        var day = $('.day').html();
        var hour = $('.hour').html();
        var minute = $('.minute').html();
        var second = $('.second').html();
        var intervalid;
        intervalid = setInterval(function(){
            if(day==0 && hour==0 && minute==0 && second==0){
                $('.day').html("0");
                $('.hour').html("0");
                $('.minute').html("0");
                $('.second').html("0");
            }
            else{
                if(second == 0){
                    second = 60;
                    if(minute == 0){
                        hour--;
                        minute = 59;
                        if(hour == 0){
                            day--;
                            hour = 23;
                            if(day ==0){
                                day = 0;
                            }
                        }

                    }
                    else{
                        minute--;
                    }
                }
                second--;
                $('.day').html(day);
                $('.hour').html(hour);
                $('.minute').html(minute);
                $('.second').html(second);
            }
        },1000)

</script>