<form id="booking-form">
    <input type="hidden" name="product_mst_id" value="{:$product['id']}"/>
    <input type="hidden" name="checkin" id="checkin" value="<?php echo date('Y/m/d', strtotime($product['checkin_start']))?>"/>
    <input type="hidden" name="checkout" id="checkout" value="<?php echo date('Y/m/d', strtotime($product['checkin_start'])+86400);?>"/>
    <input type="hidden" name="bed_type" id="bed_type" value="1"/>
<div class="main booking-main">
    <div class="top">
        <a class="nav" href="">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>订单详情</p>
    </div>
    <div class="booking-info">
        <div class="column">
            <div class="booking-title">{:$product['title']}</div>
            <div class="booking-detail">{:$product['roomtype']} 1间/1晚</div>
        </div>


        <span>入住信息</span>
        <div class="booking-white">
            <a href="javascript:void(0)" class="seldate">
                <div class=" booking-div booking-line">
                    <span>入住日期</span>
                    <img src="__IMG__/order/arrow.png"/>
                    <p class="date_range"><?php echo date('Y/m/d', strtotime($product['checkin_start']));?> - <?php echo date('Y/m/d', strtotime($product['checkin_start'])+86400);?></p>
                </div>
            </a>
            <div class=" booking-div booking-line">
                <span>房型</span>
                <ul class="fx-choose">
                    <li class="fx-on" data-val="1">大床</li>
                    <li data-val="2">双床</li>
                </ul>
            </div>
            <div class=" booking-div booking-line">
                <span>房间数量</span>
                <div class="fj-num">
                    <img class="btn-minus" src="__IMG__/order/minus.png"/>
                    <input class="num-input" type="number" name="room_num" value="1"/>
                    <img class="btn-add" src="__IMG__/order/add.png"/>
                </div>
            </div>
        </div>
        <span>联系人信息</span>

        <div class="booking-white">
                <div class=" booking-div booking-line">
                    <span>姓名</span>
                    <input type="text" class="name" name="linkman" id="linkman" placeholder="输入真实姓名"/>
                </div>
            <div class=" booking-div booking-line">
                <span>手机号</span>
                <input type="number" class="tel" name="linkmobile" id="linkmobile" placeholder="输入11位手机号"/>
            </div>
        </div>

        <?php if($product['is_need_id']==1):?>
        <span>入住人信息</span>
        <div class="booking-white last-div lzr-info info1">
            <div class=" booking-div booking-line">
                <span>姓名</span>
                <input type="text" class="name" name="checkin_info[0][name]" placeholder="输入真实姓名"/>
            </div>
            <div class=" booking-div booking-line">
                <span>身份证</span>
                <input  type="text" maxlength="19" name="checkin_info[0][identify]" placeholder="输入18位身份证号码"/>
            </div>
        </div>
        <?php endif;?>

    </div>
</div>
<div class="booking-bot">
    <div class="booking-bot-left">
        <p>总价￥</p><span class="booking-price" style="width:65%">{:$product['p_price']}</span>

        <span class="shen">省￥<?php echo $product['market_price']-$product['p_price']?></span>
    </div>
    <div class="btn-pay" href="javascript:void(0)">去支付</div>
</div>
</form>


<div class="main order-info-main disnone">
    <div class="top">
        <!--<a class="nav" href="/booking.html">-->
            <!--<img src="__IMG__/navi/navi-back.png"/>-->
        <!--</a>-->
        <p>入住日期</p>
        <!--<a href="javascript:void(0)" class="close explain-close">-->
            <!--<img src="__IMG__/navi/navi-close.png"/>-->
        <!--</a>-->

    </div>
    <?php
        $m = date('n', strtotime($product['checkin_end'])) - date('n', strtotime($product['checkin_start']));
        $year = date('Y',strtotime($product['checkin_start']));
        $month = date('n',strtotime($product['checkin_start']));
        for($mon=0;$mon<=$m;$mon++){
            $checkin_start = date('Y-m-01',mktime(0,0,0, $month+$mon, 1, $year));
    ?>
    <div class="caleder">
        <p><?php echo date('Y', strtotime($checkin_start))?><br><?php echo date('m', strtotime($checkin_start))?>月</p>
        <ul class="day">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
            <li>日</li>
        </ul>
        <ul class="date">

            <!--<li class="choose1">1</li>-->
            <!--<li class="choose2">2</li>-->
            <!--<li class="choose3">3</li>-->
            <!--<li class="choose4">4</li>-->
            <?php
                $t = date('t',strtotime($checkin_start));
                $n = date('N',strtotime(date('Y-m-01',strtotime($checkin_start))));
                for($i=1;$i<$n;$i++){
                    echo '<li></li>';
                }
                for($i=1;$i<=$t;$i++){
                    $day_time = strtotime($checkin_start)+($i-1)*86400;
                    if($day_time==strtotime($product['checkin_start'])){
                        echo '<li class="selday choose1" data-s="'.date('Y/m/d', $day_time).'" data-e="'.date('Y/m.d', $day_time+86400).'">'.$i.'</li>';
                    }
                    else if($day_time>strtotime($product['checkin_start']) && $day_time<=strtotime($product['checkin_end'])){
                        echo '<li class="selday" data-s="'.date('Y/m/d', $day_time).'" data-e="'.date('Y/m.d', $day_time+86400).'">'.$i.'</li>';
                    }
                    else {
                        echo '<li>'.$i.'</li>';
                    }
                }
            ?>
        </ul>
    </div>
    <?php }?>
</div>
<div class="btn-qr disnone">
    确定
</div>

<script type="text/javascript">
    var p_price = <?php echo $product['p_price']?>;
    var market_price = <?php echo $product['market_price']?>;
    $(function(){
        $('.seldate').click(function(){
            $('.order-info-main').show();
            $('.btn-qr').show();
            $('.booking-main').hide();
            $('.booking-bot').hide();
        })
        $('.explain-close').click(function(){

        })
        $('.btn-qr').click(function(){
            $('.order-info-main').hide();
            $('.btn-qr').hide();
            $('.booking-main').show();
            $('.booking-bot').show();
        })
        $('.btn-pay').click(function(){
            linkman = $('#linkman').val().trim();
            linkmobile = $('#linkmobile').val().trim();

            if(linkman == ''){
                myjs.showDialog("请输入联系人姓名");
                return;
            }
            if(linkmobile == ''){
                myjs.showDialog("请输入联系人手机号");
                return;
            }

            myjs.showLoading('订单提交中');
            $.ajax({
                type: 'POST',
                url: '/pay/create_order',
                data: $('#booking-form').serialize(),
                dataType: 'json',
                success: function(data){
                    if(data.success){
                        result = data.jsApi;
                        myjs.hideLoading();
                        callpay();
                    }else{
                        alert(data.errors);
                    }
                }
            } );

        })
        $('.fx-choose>li').click(function(){
            $(this).addClass('fx-on');
            $(this).siblings().removeClass('fx-on');
            bed_type = $(this).attr('data-val');
            $('#bed_type').val(bed_type);
        });
        $('.btn-minus').click(function(){
            var a = $('.num-input').val()
            if(a<=1){
            }
            else{
                a--;
                $('.num-input').val(a)
                total = p_price*a;
                discount = (market_price-p_price)*a;
                $('.booking-price').html(total);
                $('.shen').html('省￥'+discount);


                <?php if($product['is_need_id']==1):?>
                len = $('.lzr-info').length;
                one_id_ticket = <?php echo $product['one_id_ticket']?>;
                input_num = Math.ceil(a/one_id_ticket);
                if(input_num<len){
                    $('.info'+len).remove();
                }
                <?php endif;?>
            }

        });
        $('.btn-add').click(function(){
            var a = $('.num-input').val()
            a++;
            $('.num-input').val(a)

            total = p_price*a;
            discount = (market_price-p_price)*a;
            $('.booking-price').html(total);
            $('.shen').html('省￥'+discount);

            <?php if($product['is_need_id']==1):?>
            len = $('.lzr-info').length;
            one_id_ticket = <?php echo $product['one_id_ticket']?>;
            input_num = Math.ceil(a/one_id_ticket);
            console.log(len);
            console.log(input_num);
            if(input_num>len){
                html = '<div class="booking-white last-div lzr-info info'+input_num+'" style="margin-top:10px;">' +
                            '<div class=" booking-div booking-line">'+
                                '<span>姓名</span>'+
                                '<input type="text" class="name" name="checkin_info['+len+'][name]" placeholder="输入真实姓名"/>'+
                            '</div>'+
                            '<div class=" booking-div booking-line">'+
                                '<span>身份证</span>'+
                                '<input  type="text" maxlength="19" name="checkin_info['+len+'][identify]" placeholder="输入18位身份证号码"/>'+
                            '</div>'+
                        '</div>';
                $('.info'+len).after(html);
            }

            <?php endif;?>
        });

    })

    var appId = '';
    var timeStamp = '';
    var nonceStr = '';
    var package = '';
    var signType = '';
    var paySign = '';
    var result = '';

    //调用微信JS api 支付
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                result,
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
//                        $('.success').removeClass('disnone');
                        window.location.href='/pay/success.html';
                    }else{
//                        $('.alertcancel').show().fadeOut(3000);
                        myjs.showDialog('支付失败,请稍后再试');
                    }
                }
        );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>