<div class="main booking-main">
    <div class="top">
        <a class="nav" href="">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>订单详情</p>
    </div>
    <div class="booking-info">
        <div class="column">
            <div class="booking-title">{:$product['title']}</div>
            <div class="booking-detail">{:$product['roomtype']} 1间/1晚</div>
        </div>
        <span>入住信息</span>
        <div class="booking-white">
            <a href="date.html">
                <div class=" booking-div booking-line">
                    <span>入住日期</span>
                    <img src="__IMG__/order/arrow.png"/>
                    <p><?php echo date('Y/m/d', strtotime($product['checkin_start']));?> - <?php echo date('Y/m/d', strtotime($product['checkin_start'])+86400);?></p>
                </div>
            </a>
            <div class=" booking-div booking-line">
                <span>房型</span>
                <ul class="fx-choose">
                    <li class="fx-on">大床</li>
                    <li>双床</li>
                </ul>
            </div>
            <div class=" booking-div booking-line">
                <span>房间数量</span>
                <div class="fj-num">
                    <img class="btn-minus" src="__IMG__/order/minus.png"/>
                    <input class="num-input" type="number" value="1"/>
                    <img class="btn-add" src="__IMG__/order/add.png"/>
                </div>
            </div>
        </div>
        <span>联系人信息</span>
        <div class="booking-white">
                <div class=" booking-div booking-line">
                    <span>姓名</span>
                    <input type="text" class="name" placeholder="输入真实姓名"/>
                </div>
            <div class=" booking-div booking-line">
                <span>手机号</span>
                <input type="number" class="tel" placeholder="输入11位手机号"/>
            </div>
        </div>
        <span>入住人信息</span>
        <div class="booking-white last-div">
            <div class=" booking-div booking-line">
                <span>姓名</span>
                <input type="text" class="name" placeholder="输入真实姓名"/>
            </div>
            <div class=" booking-div booking-line">
                <span>身份证</span>
                <input name="page" type="text" maxlength="19"  placeholder="输入18位身份证号码"/>
            </div>
        </div>
    </div>
</div>
<div class="booking-bot">
    <div class="booking-bot-left">
        <p>总价￥</p><span class="booking-price">655</span><br/>
        <span class="shen">省￥143</span>
    </div>
    <a class="btn-pay" href="pay.html">去支付</a>
</div>
<div class="explain">
    <div class="top">
        <a class="nav" href="/booking.html">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>入住日期</p>
        <a href="/booking.html" class="close explain-close">
            <img src="__IMG__/navi/navi-close.png"/>
        </a>

    </div>
    <div class="caleder">
        <p>2016<br>9月</p>
        <ul class="day">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
            <li>日</li>
        </ul>
        <ul class="date">
            <li class="choose1">1</li>
            <li class="choose2">2</li>
            <li class="choose3">3</li>
            <li class="choose4">4</li>
            <li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li>
            <li>17</li><li>18</li><li>19</li><li>20</li><li>21</li>
        </ul>
    </div>
    <div class="caleder">
        <p>2016<br>9月</p>
        <ul class="day">
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
            <li>日</li>
        </ul>
        <ul class="date">
            <li>1</li><li>2</li><li>3</li><li>4</li>
            <li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li>
            <li>17</li><li>18</li><li>19</li><li>20</li><li>21</li>
        </ul>
    </div>
</div>
