<div class="main booking-main">
    <div class="top">
        <a class="nav" href="">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>订单详情</p>
    </div>
    <div class="booking-info">
        <div class="column">
            <div class="booking-title">上海梵璞主题文化酒店</div>
            <div class="booking-detail">高级大床房 1间/1晚 含双早</div>
        </div>
        <span>入住信息</span>
        <div class="booking-white">
            <a href="date.html">
                <div class=" booking-div booking-line">
                    <span>入住日期</span>
                    <img src="__IMG__/order/arrow.png"/>
                    <p>2016/09/01 - 2016/09/02</p>
                </div>
            </a>
            <div class=" booking-div booking-line">
                <span>房型</span>
                <ul class="fx-choose">
                    <li class="fx-on">大床</li>
                    <li>双床</li>
                </ul>
            </div>
            <div class=" booking-div booking-line">
                <span>房间数量</span>
                <div class="fj-num">
                    <img class="btn-minus" src="__IMG__/order/minus.png"/>
                    <input class="num-input" type="number" value="1"/>
                    <img class="btn-add" src="__IMG__/order/add.png"/>
                </div>
            </div>
        </div>
        <span>联系人信息</span>
        <div class="booking-white">
                <div class=" booking-div booking-line">
                    <span>姓名</span>
                    <input type="text" class="name" placeholder="输入真实姓名"/>
                </div>
            <div class=" booking-div booking-line">
                <span>手机号</span>
                <input type="number" class="tel" placeholder="输入11位手机号"/>
            </div>
        </div>
        <span>入住人信息</span>
        <div class="booking-white last-div">
            <div class=" booking-div booking-line">
                <span>姓名</span>
                <input type="text" class="name" placeholder="输入真实姓名"/>
            </div>
            <div class=" booking-div booking-line">
                <span>身份证</span>
                <input name="page" type="text" maxlength="19"  placeholder="输入18位身份证号码"/>
            </div>
        </div>
    </div>
</div>
<div class="booking-bot">
    <div class="booking-bot-left">
        <p>总价￥</p><span class="booking-price">655</span><br/>
        <span class="shen">省￥143</span>
    </div>
    <a class="btn-pay" href="pay.html">去支付</a>
</div>
