<div class="main">
    <div class="top">
        <!--<a class="nav" href="">-->
            <!--<img src="__IMG__/navi/navi-back.png"/>-->
        <!--</a>-->
        <p>我的订单</p>
    </div>
    <div class="order-list">
        <?php foreach($orderList['aaData'] as $o):?>
        <div class="order id{:$o['id']}">
            <span>订单号：{:$o['order_no']}</span>
            <a href="/user/orderinfo.html?id={:$o['id']}">
            <div class="order-bg">
                <div class="order-top">
                    <div class="info-left">
                        <p class="info-title">{:$o['hotel']['name']}</p>
                        <p class="info-describe">
                            {:$o['roomtype']} 1间/1晚<br/>
                            入住日期 {:$o['checkin']} 至 {:$o['checkout']}
                        </p>
                    </div>
                    <div class="info-arrow"><img src="__IMG__/order/arrow.png"/> </div>
                </div>
                <div class="info-bot">
                <?php if($o['cancel_flag']==1):?>
                    <a class="btn-qx">已取消</a>
                <?php else:?>
                    <?php if($o['pay_status']==0):?>
                        <a class="go-pay" href="javascript:pay('{:$o["id"]}')">去支付</a>
                        <a class="btn-qx" href="javascript:cancel('{:$o["id"]}')">取消</a></div>
                    <?php else:?>
                        <a class="btn-delete" href="javascript:del('{:$o["id"]}')">删除</a>
                    <?php endif;?>
                <?php endif;?>
                </div>
            </div>
            </a>
        </div>
        <?php endforeach;?>
    </div>
</div>

<script type="text/javascript">
function pay(id){

}
function cancel(id){
    console.log(id);
}
function del(id){
    console.log(id);
}
</script>