<div class="main order-info-main">
    <div class="top">
        <a class="nav" href="">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>我的订单</p>
    </div>
    <div class="order-list">
        <div class="order">
            <span>酒店信息</span>
            <div class="order-bg">
                <div class="order-top">
                    <div class="info-left">
                        <p class="info-title">上海梵璞主题文化酒店</p>
                        <p class="info-describe">
                            高级大床房 1间/1晚 含双早<br/>
                            入住日期 2016-09-01 至 2016-09-02
                        </p>
                    </div>
                    <div class="info-arrow"><img src="__IMG__/order/arrow.png"/> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-info">
        <span>联系人信息</span>
        <div class="booking-white">
            <div class="order-div booking-line">
                <span>姓名</span>
                <div class="information">拼了嘛</div>
            </div>
            <div class="order-div booking-line">
                <span>手机号</span>
                <div class="information">拼了嘛</div>
            </div>
        </div>
        <span>入住人信息</span>
        <div class="booking-white last-div">
            <div class="order-div booking-line">
                <span>姓名</span>
                <div class="information">拼了嘛</div>
            </div>
            <div class="order-div booking-line">
                <span>身份证</span>
                <div class="information">拼了嘛</div>
            </div>
        </div>
    </div>
</div>
<div class="btn-pay-2">
    去支付
</div>
