<div class="main">
    <div class="top">
        <a class="nav" href="">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>我的订单</p>
    </div>
    <div class="order-list">
        <div class="order">
            <span>订单号：20160908123</span>
            <div class="order-bg">
                <div class="order-top">
                    <div class="info-left">
                        <p class="info-title">上海梵璞主题文化酒店</p>
                        <p class="info-describe">
                            高级大床房 1间/1晚 含双早<br/>
                            入住日期 2016-09-01 至 2016-09-02
                        </p>
                    </div>
                    <div class="info-arrow"><img src="__IMG__/order/arrow.png"/> </div>
                </div>

                <div class="info-bot"><a class="btn-delete">删除</a></div>
            </div>
        </div>
        <div class="order">
            <span>订单号：20160908123</span>
            <div class="order-bg">
                <div class="order-top">
                    <div class="info-left">
                        <p class="info-title">上海梵璞主题文化酒店</p>
                        <p class="info-describe">
                            高级大床房 1间/1晚 含双早<br/>
                            入住日期 2016-09-01 至 2016-09-02
                        </p>
                    </div>
                    <div class="info-arrow"><img src="__IMG__/order/arrow.png"/> </div>
                </div>
                <div class="info-bot"><a class="go-pay" href="order-info.html">去支付</a><a class="btn-qx">取消</a></div>
            </div>
        </div>
        <div class="order">
            <span>订单号：20160908123</span>
            <div class="order-bg">
                    <div class="order-top">
                        <div class="info-left">
                            <p class="info-title">上海梵璞主题文化酒店</p>
                            <p class="info-describe">
                                高级大床房 1间/1晚 含双早<br/>
                                入住日期 2016-09-01 至 2016-09-02
                            </p>
                        </div>
                        <div class="info-arrow"><img src="__IMG__/order/arrow.png"/> </div>
                    </div>
                <div class="info-bot"><a class="go-pay" href="order-info.html">去支付</a><a class="btn-qx">取消</a></div>
            </div>
        </div>
    </div>
</div>

