<div class="input-group input-large custom-date-range " style="width:400px">
    <input
            type="text"
           name="{$name_from}"
           id="{$id_from}"
           value="{$value[0]}"
           placeholder="{$holder[0]}"
    <?php if(!empty($attr)){
        foreach($attr as $key=>$val){
    if(is_array($val)){
    echo $key.'="'.implode(' ', $val).'"';
    }
    else {
    echo $key.'="'.$val.'"';
    }
    }
    }
    ?>
    >
    <span class="input-group-addon">To</span>
    <input type="text"
           name="{$name_to}"
           id="{$id_to}"
           value="{$value[1]}"
           placeholder="{$holder[1]}"
           style="margin-left:0px;"
    <?php if(!empty($attr)){
        foreach($attr as $key=>$val){
    if(is_array($val)){
    echo $key.'="'.implode(' ', $val).'"';
    }
    else {
    echo $key.'="'.$val.'"';
    }
    }
    }
    ?>
    >
</div>

<script type="text/javascript">
    $(function() {
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    })
</script>