<script src="__JS__/kissy/seed.js" ></script>
<link href="__JS__/kissy/editor/theme/cool/editor-min.css" rel="stylesheet"/>

<div class="grid">
    <input type="file" class="g-u" id="J_UploaderBtn" value="图片上传" name="file"  accept="image/*" >
</div>
<ul id="J_UploaderQueue" class="grid"></ul>

<script language="javascript">
    var S = KISSY;
    var uploader;

    S.Config.debug = false;
    S.config({
        packages:[
            {
                name:"gallery",
                path:"__JS__/kissy",
                charset:"utf-8"
            }
        ]
    });

    $(function() {

        S.use('gallery/uploader/1.5/index.js,gallery/uploader/1.5/themes/imageUploader/index.js,gallery/uploader/1.5/themes/imageUploader/style.css', function (S, Uploader,GrayUploader) {
            //上传组件插件
            var plugins = 'gallery/uploader/1.5/plugins/auth/auth,' +
                    'gallery/uploader/1.5/plugins/urlsInput/urlsInput,' +
                    'gallery/uploader/1.5/plugins/proBars/proBars';

            S.use(plugins,function(S,Auth,UrlsInput,ProBars,Filedrop,Preview,ImageZoom){
                uploader = new Uploader('#J_UploaderBtn',{
                    //处理上传的服务器端脚本路径
                    action:"{$action}",
                    multiple:true
                });
                //使用主题
                uploader.theme(new GrayUploader({ queueTarget: '#J_UploaderQueue',urlInputName:'{$urlName}'}));
                //验证插件
                uploader.plug(new Auth({
                            //最多上传个数

                            //图片最大允许大小
                            maxSize:5000
                        }))
                        //进度条集合
                        .plug(new ProBars())

                ;

                uploader.on('success', function (ev) {
                    // TODO :
                })
                uploader.on('error', function (ev) {
                    alert('图片上传失败');
                    $('#J_UploaderQueue').html('');
                })

                <?php if(!empty($value)): ?>
                        var piclist=[];

                        var result = <?php echo $value;?>;
                        S.each(result,function(item){
                        console.log(item);
                            piclist.push({url:item,name:item});
                        })

                        uploader.restore(piclist);
                <?php endif; ?>
            });
        })

    })
</script>