<div class="main-w">
    <div class="explain">
        <div class="top">
            <p>拼团说明</p>
            <a href="/detail.html" class="close explain-close">
                <img src="__IMG__/navi/navi-close.png"/>
            </a>
        </div>
        <div class="explain-info">
            1.用户只有支付成功才能参与拼团，参团后可在拼团首页右下角点击“我的订单”查看拼单详情及进度。<br/>
            <br/>
            2.因为拼团成功与否影响所有参团人的行程，所以参团成功后不能取消订单，也不能改期。<br/>
            <br/>
            3.用户可多次参团，每次可购买多份，表示多人参团。<br/>
            <br/>
            4.在规定时间内达到成团人数，则组团成功，您将收到组团成功短信；在规定时间内未达到最小成团人数或活动库存不足，则组团失败，您支付款项将原路退还。<br/>
            <br/>
            5.无论组团成功还是失败，我们都将在活动前短信通知您，不同的商品提前通知的时间会有所不同。<br/>
            <br/>
            6.组团失败后款项原路退还，预计在2-7个工作日内到账。<br/>
            <br/>
            7.出行时尽量提前到达约定地点，司机进行必要的找寻和联系后，不会继续等待。<br/>
            <br/>
            8.行程中请参团人员听从导游、司机或工作人员安排，相互配合。<br/>
        </div>
    </div>
</div>