<script language="javascript">
    $(document).ready(function(){

        var tabl= Datasource.Usertable();
        $("#searchbtn").click(function(){
            tabl.fnDraw();
        })
        $(".resetbtn").click(function(){
            CommonUtil.formclear('searchform')
            tabl.fnDraw();
        })


    })
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CommonUtil.formclear('searchform')" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">搜索</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="searchform">
                    <fieldset>
                        <div class="form-group">
                            <label for="nickname"   class="col-md-2 control-label no-padding-right">用户昵称:</label>
                            <input type="text" id="nickname" value="<?=$condition['nickname']?>" name="condition[nickname]" class="input-xlarge" style="width:170px ">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CommonUtil.formclear('searchform')">关闭</button>
                <button type="button" class="btn btn-primary resetbtn" >重置</button>
                <button type="button" class="btn btn-success" id="searchbtn">搜索</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">用户列表</h3>

        <button class="btn btn-sm btn-purple" data-toggle="modal" data-target="#myModal"><i class="ace-icon fa fa-search    bigger-100"></i>搜索</button>
        <button type="button" class="btn btn-success  btn-sm  resetbtn"><i class="ace-icon fa fa-refresh   bigger-100"></i>刷新</button>
        <div class="table-responsive">
            <table id="sample-table-2" class="table table-striped table-bordered table-hover datatable">
                <thead>
                <tr>

                    <th>用户编号</th>
                    <th>用户姓名</th>
                    <th>性别</th>
                    <th>头像</th>
                    <th>注册时间</th>
                    <!--<th width="10%">操作</th>-->
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div><!--/row-->
