<div class="main-w">
    <div class="top">
        <a class="nav" href="javascript:history.back();">
            <img src="__IMG__/navi/navi-back.png"/>
        </a>
        <p>酒店详情</p>
        <div class="share">
            <img src="__IMG__/navi/navi-share.png"/>
        </div>
    </div>
    <div class="swiper-div">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <?php foreach($product['images'] as $img):?>
                <div class="swiper-slide"><img src="{:$img}"/></div>
                <?php endforeach;?>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <a href="javascript:void(0)" class="alert"><img src="__IMG__/detail/alert.png"/></a>
    </div>
    <div class="detail-info">
        <div class="dis-title txt-center">{:$product['title']}</div>
        <div class="dis-discribe">{:$product['intro']}</div>
        <div class="f-line"><img src="__IMG__/detail/line.png"/> </div>
        <div class="dis-price">
            拼团价￥<span>{:$product['p_price']}</span>起/份
        </div>
        <div class="basic">
            {:$product['detail']}
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/jdld.png"/>
            <div class="ld-txt">
                <!--<p>1.花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧<br/><br/>-->
                    <!--2.花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧啦<br/><br/>-->
                    <!--3.花家山庄位于幽静的西子湖畔巴拉巴花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧啦</p>-->
                <!--<img src="__IMG__/detail/img.png"/>-->
                <!--<p>花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧<br/>-->
                    <!--花家山庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧啦</p>-->
                <!--<img src="__IMG__/detail/img1.png"/>-->
                <!--<p>庄位于幽静的西子湖畔巴拉巴拉巴拉巴拉巴拉巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧啦巴，整个亭台楼阁，小桥水榭，吧啦吧啦吧啦吧啦</p>-->
                <!--<img src="__IMG__/detail/img.png"/>-->
                {:$hotel['lightspot']}
            </div>
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/jtxx.png"/>
            <div class="jtxx">
                {:$hotel['traffic']}
            </div>
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/jdss.png"/>
            <?php foreach($hotel['facility'] as $fa):?>
            <div class="jdss"><img src="{:$fa}"/> </div>
            <?php endforeach;?>
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/zbss.png"/>
            <div class="jtxx">
                {:$hotel['around']}
            </div>
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/jdzc.png"/>
            <div class="jtxx">
                {:$hotel['policy']}
            </div>
        </div>
        <div class="detail-column">
            <img src="__IMG__/detail/tgzc.png"/>
            <div class="jtxx">
                {:$hotel['refund']}
            </div>
        </div>
    </div>
</div>
<div class="order-operate">
    <div class="order-left">
        <p class="detail-tuan">{:$product['limit_num']}-{:$product['max_num']}人成团</p>
        <div class="price">
            <p class="">拼团价￥</p><span class="now-price">{:$product['p_price']}</span><span class="pro-price">/份</span><span class="pro-price line">￥{:$product['market_price']} </span>
        </div>
    </div>
    <div class="order-right">
        <a href="/booking.html?pid={:$product['id']}" class="go-tuan">去拼团</a>
        <p class="tuan">{:$product['saled_num']}人参与</p>
    </div>
</div>

<div class="explain disnone">
    <div class="top">
        <p>拼团说明</p>
        <div class="close explain-close">
            <img src="__IMG__/navi/navi-close.png"/>
        </div>
    </div>
    <div class="explain-info">
        1.用户只有支付成功才能参与拼团，参团后可在拼团首页右下角点击“我的订单”查看拼单详情及进度。<br/>
        <br/>
        2.因为拼团成功与否影响所有参团人的行程，所以参团成功后不能取消订单，也不能改期。<br/>
        <br/>
        3.用户可多次参团，每次可购买多份，表示多人参团。<br/>
        <br/>
        4.在规定时间内达到成团人数，则组团成功，您将收到组团成功短信；在规定时间内未达到最小成团人数或活动库存不足，则组团失败，您支付款项将原路退还。<br/>
        <br/>
        5.无论组团成功还是失败，我们都将在活动前短信通知您，不同的商品提前通知的时间会有所不同。<br/>
        <br/>
        6.组团失败后款项原路退还，预计在2-7个工作日内到账。<br/>
        <br/>
        7.出行时尽量提前到达约定地点，司机进行必要的找寻和联系后，不会继续等待。<br/>
        <br/>
        8.行程中请参团人员听从导游、司机或工作人员安排，相互配合。<br/>
    </div>
</div>

<script type="application/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination : '.swiper-pagination',
        paginationType : 'fraction',

    });
    $(function(){
        $('.alert').click(function(){
            $('.explain').show();
        })
        $('.close').click(function(){
            $('.explain').hide();
        })
    })
</script>